﻿body {
}
 #btnsubmit:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

#id_upload {
    visibility: hidden;
}
#btnsubmit {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    /*width: 150px;
    height: 35px;*/
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

#id_upload:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

#id_upload {
    visibility: hidden;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    /*width: 150px;
    height: 35px;*/
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
#btnUpload {
    visibility: hidden;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    /*width: 150px;
    height: 35px;*/
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.tblmain {
width:400px;
}
.tblmain2 {
width:100%;
}

textarea#uploaded {
	width: 100%;
	min-height: 300px;
	font-size: 10px;
}


/* show upload progress with bars */
.progress-bar-area {
	margin-top: 20px;
}

.progress {
	display: none;
	position: relative;
	width: 100%;
	height: 15px;
	background: #C7DA9F;
	border-radius: 15px;
	overflow: hidden;
	margin-top: 10px;
}

.bar {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 15px;
	background: #85C220;
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: .7em;
}

	.bar.red {
		background: tomato;
	}
